server {
    listen 3132;
    server_name _;

    location / {
        include proxy_params;
        proxy_pass http://unix:/var/www/{{ project_name }}/gunicorn.sock;
    }

    location /static/ {
        alias /var/www/{{ project_name }}/static/;
    }
}
