server {
    listen 3133;
    server_name _;

    location / {
        include proxy_params;
        proxy_pass http://unix:/var/www/{{ project_name }}_api/gunicorn.sock;
    }

    location /static/ {
        alias /var/www/{{ project_name }}_api/static/;
    }
}
