[Unit]
Description=Gunicorn for {{ project_name }}
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ app_directory }}
ExecStart={{ app_directory }}/venv/bin/gunicorn --workers 3 --bind unix:{{ app_directory }}/gunicorn.sock {{ project_name }}.wsgi:application

[Install]
WantedBy=multi-user.target
